<div class="page-header">
  <h1>
    My Favorite Cases
    <a href="/favorites/new" class="btn btn-lg btn-success">New Favorite</a>
  </h1>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>School</th>
        <th>Case name</th>
        <th>Case type</th>
        <th>Interviewer led?</th>
        <th>Industry</th>
        <th>Quant difficulty</th>
        <th>Structure difficulty</th>
        <th>Page</th>
        <th>Submitted by a Friend?</th>
        <th>Actions</th>
      </tr>

      <% current_user.favorited_cases.each do |the_case| %>
      <tr>
        <td><%= the_case.user.school.name %></td>
        <td><%= the_case.name %></td>
        <td><%= the_case.case_type %></td>
        <td><%= the_case.interviewer_led %></td>
        <td><%= the_case.industry %></td>
        <td><%= the_case.quant %></td>
        <td><%= the_case.structure %></td>
        <td><%= the_case.page %></td>

        <td>
          <% friend = Friend.find_by(:recipient_id => the_case.user.id, :sender_id => current_user.id) %>
          <% if friend.present? %>
          <i class="fa fa-star"></i>
          <% else %>
          <i class="fa fa-star-o"></i>
          <% end %>
        </td>

        <td>
          <!-- If current user is case "owner"  -->
          <% if current_user.id ==the_case.user_id %>

          <!-- Show all three actions  -->
          <a href="/cases/<%= the_case.id %>" class="btn btn-primary">Show</a>
          <a href="/cases/<%= the_case.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_case/<%= the_case.id %>" class="btn btn-danger" rel="nofollow">Delete</a>

          <% else %>
          <!-- Otherwise, only display show action  -->
          <a href="/cases/<%= the_case.id %>" class="btn btn-primary">Show</a>

          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
